.footer-bottom {
    display: flex;
    justify-content: space-between;
}
.footer__socials {
    margin-bottom: 28px;
    display: inline-block;

    color: var(--secondary-light)
}



.footer__details {
    margin-bottom: 38px;
    color: var(--secondary-light)
}

.footer__address {
    margin-bottom: 16px;
}

.social-item {
    display: inline-block;
    cursor: pointer;
}

.social-item:not(:last-child){
    margin-right: 12px;
}
.footer__info-block {
    display: flex;
    justify-content: space-between;
}

.footer__info-link {
    display: block;
    text-decoration: none;
    color: var(--secondary-light);
    font-size: 20px;
    margin-bottom: 26px;
    cursor: pointer;
}

.footer__info-item:not(:last-child){
    margin-right: 168px;
}

.footer__info-title {
    margin-bottom: 38px;
    margin-top: 0;
    font-size: 24px;
    color: var(--secondary)
}

.footer__bottom-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.footer__bottom-details {
    color: white
}

.footer__bottom-copyright {
    display: flex;
    align-items: center;
}

.footer_img-wrapper {
    margin-right: 8px;
}

.footer__language {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__language-img-wrapper {
    margin-right: 14px;
}

.footer__language-item {
    font-size: 14px;
}

.footer__bottom-background {
    background-color: var(--primary);
    width: 100%;
}
