.header {
  position: fixed;
  width: 100%;
  padding-top: 57px;
  background-color: #E5E5E5;
  
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.header__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var( --secondary-light);
}

.header__menu-item:not(:last-child) {
  margin: 0 36px;
}
.header__menu-link:hover {
  color: var( --secondary);
}
