.services {
    margin-bottom: 173px;
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: row;
}
.services-content {
    display: flex;
    align-items: center;
    text-align: center;
    
}






.services__card-more-icon{
    margin-left: 8px;
}