.services {
    margin-top: 500px;
    display: flex;
    align-items: center;
    justify-content: center;   
    
}
.services-content {
  
    align-items: center;
    text-align: center;
    
}






.services__card-more-icon{
    margin-left: 8px;
}