.services {
    margin-top: 203px;
    display: flex;
    align-items: center;
    justify-content: center;   
    
}
.services-content {
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: space-between; */
}






.services__card-more-icon{
    margin-left: 8px;
}