.subscribe{
    margin-top: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub__cont{
    background-image: url("../../images/messagesent-image.svg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left; 
}
