.subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 165px;
   
}
.sub__cont{
    background-image: url("../../images/messagesent-image.svg");
    background-repeat: no-repeat;
 
  background-position: left; 
}
.subscribe__description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}
.subscribe__details{

    font-size: 20px;
    margin-top: 18px;
    text-align: center;
}
.subscribe__sent{
    display: flex;
    
    justify-content:space-between;
    width: 700px;
    height: 82px;
    background-color:  #FFFFFF;
    border-radius: 4px;
    box-shadow: gray;
    
    justify-content: space-between;
   
    padding: 14px 13px 14px 28px;


}
.subscribe__button {
    width: 178px;

}