.subscribe {  
  
  
    margin-top: 160px; 
}
/* .subscribe-content { 
 
 align-items: center;
 

} */
.sub__cont{

    background-image: url(../../images/messagesent-image.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-position: left top;
 
}
.subscribe__subtitle{
    margin-bottom: 18px;
}
.subscribe__details{
    font-size: 20px;
    
}

.subscribe__description {
    
    /* width: 100%; */
    align-items: center;
    justify-content: center;
  
}



