.teamwork{  
 
    display: flex;
    align-items: center;
    justify-content: center;
     
}
.teamwork-content {
 
 display: flex;
 align-items: center;
 justify-content: space-between; 
 margin-top: 270px;

}
.design__description {
    width: 50%;
}

.design__button {
    
    display: flex;
    align-items: center;
}
.design__button-icon {
    margin-left: 19px;
}

.design__image__wrapper {
    width: 50%;

}
.design__img {
width: 100%;
display: block;
filter: drop-shadow(2px 4px 6px black);
}